.error-indicator {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat';
  }
  
  .error-indicator img {
    margin-bottom: 1rem;
  }
  
  .error-indicator .boom {
    font-size: 2rem;
  }

.number-error {
  font-size: 30px;
  font-weight: 500;
}

.text-error {
  font-size: 24px;
}