.base {
    font-family: 'Montserrat', sans-serif;
}

.content {
    &_body {
        text-align: center;
    }
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.container-btn {
    &:hover {
        text-decoration: none;
    }
}